name: POC18 CI Workflow
on:
    push:
        branches:
            - dev
            - test
            - main

jobs:
    code-build:
        name: Build & Test of code (npm i, npm test)
        runs-on: ubuntu-latest
    
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 18

            - name: Install dependencies
              run: npm i

            # can also run npm test if there

    deploy-dev:
        name: Deploy to dev
        runs-on: ubuntu-latest
        needs: code-build
        if: github.ref == 'refs/heads/dev'
        environment: dev

        steps:
          - name: Deploy to dev EC2 via SSH
            uses: appleboy/ssh-action@v1.0.3
            with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                script: |
                    echo "Connected to EC2"

                    echo "cd to poc18 app directory"
                    cd /home/${{ secrets.EC2_USER }}
                    cd poc18-aws

                    echo "Checkout to dev branch"
                    git checkout dev

                    echo "Pull latest code from remote dev"
                    git pull origin dev

                    echo "Installing npm modules"
                    npm i

                    echo "Adding PORT and NODE_ENV to env"
                    export PORT=8080
                    export NODE_ENV=dev

                    echo "Starting/Reloading pm2"
                    pm2 start ecosystem.config.js || pm2 reload ecosystem.config.js

                    echo "Deployment to dev server successful!!"

                    echo "Live at http://${{ secrets.EC2_HOST }}:8080"

    deploy-test:
        name: Deploy to test
        runs-on: ubuntu-latest
        needs: code-build
        if: github.ref == 'refs/heads/test'
        environment: test

        steps:
          - name: Deploy to test EC2 via SSH
            uses: appleboy/ssh-action@v1.0.3
            with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                script: |
                    echo "Connected to EC2"

                    echo "cd to poc18 app directory"
                    cd /home/${{ secrets.EC2_USER }}
                    cd poc18-aws

                    echo "Checkout to test branch"
                    git checkout test

                    echo "Pull latest code from remote test"
                    git pull origin test

                    echo "Installing npm modules"
                    npm i

                    echo "Adding PORT and NODE_ENV to env"
                    export PORT=8080
                    export NODE_ENV=test

                    echo "Starting/Reloading pm2"
                    pm2 start ecosystem.config.js || pm2 reload ecosystem.config.js

                    echo "Deployment to test server successful!!"

                    echo "Live at http://${{ secrets.EC2_HOST }}:8080"

    deploy-prod:
        name: Deploy to prod
        runs-on: ubuntu-latest
        needs: code-build
        if: github.ref == 'refs/heads/main'
        environment: prod

        steps:
          - name: Deploy to test EC2 via SSH
            uses: appleboy/ssh-action@v1.0.3
            with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                script: |
                    echo "Connected to EC2"

                    echo "cd to poc18 app directory"
                    cd /home/${{ secrets.EC2_USER }}
                    cd poc18-aws

                    echo "Checkout to main branch"
                    git checkout main

                    echo "Pull latest code from remote main"
                    git pull origin main

                    echo "Installing npm modules"
                    npm i

                    echo "Adding PORT and NODE_ENV to env"
                    export PORT=8080
                    export NODE_ENV=prod

                    echo "Starting/Reloading pm2"
                    pm2 start ecosystem.config.js || pm2 reload ecosystem.config.js

                    echo "Deployment to prod server successful!!"

                    echo "Live at http://${{ secrets.EC2_HOST }}:8080"
